<table style="font-family:'Montserrat',sans-serif;margin-top: 20px;" role="presentation"
       cellpadding="0" cellspacing="0" width="100%" border="0">
  <tbody>
  <tr>
    <td
      style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Montserrat',sans-serif;"
      align="left">

      <div style="color: #a3afbb; line-height: 140%; text-align: left; word-wrap: break-word;">
        <p style="font-size: 14px; line-height: 140%; text-align: center;"><span
          style="font-size: 12px; line-height: 16.8px; font-family: helvetica, sans-serif;">Nest Inc.</span><br /><span
          style="font-size: 12px; line-height: 16.8px; font-family: helvetica, sans-serif;">801 Brickell Ave, Miami, FL 33131, USA</span><br /><span
          style="font-size: 12px; line-height: 16.8px; font-family: helvetica, sans-serif;">info@example.com</span>
        </p>
      </div>

    </td>
  </tr>
  </tbody>
</table>