<table style="font-family:'Montserrat',sans-serif;" role="presentation" cellpadding="0"
       cellspacing="0" width="100%" border="0">
  <tbody>
  <tr>
    <td
      style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Montserrat',sans-serif;"
      align="left">
      <div style="color: #187ce1; line-height: 140%; text-align: left; word-wrap: break-word;">
        <p style="font-size: 14px; line-height: 140%; text-align: center;">
          <a href="{{ url }}" target="_blank"
             style="font-family: helvetica, sans-serif; font-size: 16px; line-height: 22.4px;">{{> @partial-block }}</a>
        </p>
      </div>
    </td>
  </tr>
  </tbody>
</table>